/* Resetar os espaçamentos dos objetos */
* {
    margin: 0;
    padding: 0;
}

.mosca1 {
    width: 50px;
}

.mosca2 {
    width: 70px;
}

.mosca3 {
    width: 90px;
}

.ladoInvertido {
    transform: scaleX(-1);
}